var params = {
      "distance": "{{ distance }}",
      "minZoom": "{{ minZoom }}",
      "maxZoom": "{{ maxZoom }}",
      "nbGuess": "{{ nbGuess }}",
      "centerLat": "{{ centerLat }}",
      "centerLng": "{{ centerLng }}", 
      "localStorage": "{ localStorage }}",
      "tilesServer": "{{ tilesServer }}",
      "tilesAttribution": '{{ tilesAttribution }}'
};
